*{
    margin: 0;
    padding: 0;
    padding-top: opx;
    box-sizing: border-box;
}

header{
    background-image: url(./fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



body{
    background-image: url(./planodefundo.jpg);
    image-rendering: optimizeQuality;
    justify-content: center;
    align-items: center;
    
}

main{
    justify-content: center;
    align-items: center;
}

.foto-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.titulo{
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    color: darkgoldenrod;
    padding-top: 30px;
    
}

.link{
    max-width: 190px;
    max-height: 266px;
}

.texto{
    color: darkgoldenrod;
    text-align: center;
    padding-top: 30px;
}

.texto2{
    color: darkgoldenrod;
    text-align: center;
    padding-top: 25px;
}

.texto3{
    color: darkgoldenrod;
    text-align: center;
    padding-top: 25px;
}

.lista{
    color: darkgoldenrod;
    text-align: inherit;
    font-size: x-large;
    padding-top: 30px;
}

.copi{
    color: darkgoldenrod;
    float: right;
    padding-top: 30px;
}

@media (max-width: 640px){
    .texto{
        display: none;
    }
    .copi{
        display: none;
    }
    header{
        background-image: url(./logo-removebg-preview.png);
    }
    .anel{
        display: none;
    }
}

