*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    height: 100px;
}

body{
    background-image: url(./plano\ de\ funndo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    height: 100vh;
    
}

.sessão{
    display: flex;
    flex-direction: column;
    align-items: center;
}